$media-path: '../../assets/media/';
$font-path: '../../assets/fonts/';

$header-height: 7rem;
$footer-height: 4.8rem;

$app-color: rgba(175, 189, 54, 0.9);
$app-secondary-color: #efefef;
$app-easing: cubic-bezier(0.35, 0.01, 0.77, 0.34);
